In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier

In [35]:
df = pd.read_csv("data.csv",on_bad_lines='skip')

In [36]:
df.head()

      password  strength
0     kzde5577         1
1     kino3434         1
2    visi7k1yr         1
3     megzy123         1
4  lamborghin1         1

In [37]:
df['password'].nunique()

669639

In [40]:
df.shape

(669640, 2)

In [43]:
df.isnull().sum()

password    1
strength    0
dtype: int64

In [45]:
df.dropna(axis=0,inplace=True)

In [47]:
df.isnull().sum()

password    0
strength    0
dtype: int64

In [49]:
df.sample(10)

                            password  strength
169813                     75743502v         1
587867                     darshna41         1
504414                       espada6         0
83300                      fr33stuff         1
550610                       dracak1         0
280062              2EgR4Dzk3OAOhCWN         2
641223              hZMLClzQ4NwF8GHN         2
115173              izNGqsjc3NwtlIQL         2
134424                686EgoLEsUCUGA         2
452025  Seleccionalapalabracorrecta1         2

In [51]:
df['strength'].nunique()

3

In [53]:
df['strength'] = df['strength'].map({0:'weak',1:'medium',2:'strong'})
df.head()

      password strength
0     kzde5577   medium
1     kino3434   medium
2    visi7k1yr   medium
3     megzy123   medium
4  lamborghin1   medium

In [57]:
def word(password):
    character=[]
    for i in password:
        character.append(i)
        return character
x = np.array(df['password'])
y = np.array(df['strength'])
tdif = TfidfVectorizer(tokenizer=word)
x=tdif.fit_transform(x)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.05,random_state=42)

C:\Users\Aditya Dubey\anaconda3\Lib\site-packages\sklearn\feature_extraction\text.py:521: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [61]:
model = RandomForestClassifier()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.7433845051072218

In [ ]:
import getpass
user = getpass.getpass("enter password")
data = tdif.transform([user]).toarray()
output = model.predict(data)
print(output)